<h1>Things To D</h1>
<p><%= link_to 'New thing', new_thing_path %></p>
<% @things.each do |thing| %>
    <h2><%= thing.title %></h2>
    <%= link_to 'Show Thing', thing_path(thing) %>
    <%= link_to 'Edit Thing', edit_thing_path(thing) %>
    <%= link_to 'Delete Thing', thing, method: :delete %>

<% end %>